@import "~bootstrap/scss/bootstrap";

body {
  background-color: gray;
}

.header {
  color: red;
}

#legoHeads {
  display: flex;
  justify-content: center;
}
#legoTorsos {
  display: flex;
  justify-content: center;
}
#legoLegs {
  display: flex;
  justify-content: center;
}